
.menu a{
    color: var(--netural-700);
    padding: 12px 40px;
    display: inline-block;

    
}

.navbar{
    background-color: transparent;
    margin-block: 64px;
   


}

.nav{
    background-color: var(--netural-0); /* 半透明白底 */
    backdrop-filter: blur(100px); /* 讓背景模糊 */
    -webkit-backdrop-filter: blur(10px); /* 支援 Safari 瀏覽器 */
    padding-inline: 80px;
    border-radius: 30px;
   
}


.login a{
   text-decoration: none;
   color: var(--netural-0);
   background-color:var(--netural-800) ;
   border-radius: 20px;
   padding: 12px 40px;
   

}

.logo{
    padding-block: 10px;
}

.index-banner{
    background-image: url(image/hero-section-1.5.png);
    width: 100%;
    height: 800px; 
    display: block;
    /* 建議高度 450-500px之間 最高650px */
    background-repeat: no-repeat;
    background-position:  center center ;
    

}


        .index-banner:hover background-image {
            scale: 1.3;
        }


.trial a{
    background-color:var(--primary-600) ;
    padding: 8px 40px;
    border-radius: 30px;
    color: var(--netural-0);
}


.device ul img{
 padding-inline: 16px;
 
 
}

.device{
    background-color: var(--netural-0);
    padding-block: 8px;
    border-radius: 20px;
    width: 600px;

}

.solution{
    background-color: var(--netural-100);
}

.solutio-text{
    text-align: center;

}

.card-list{
    display: flex;
    margin-inline: 20px;
    justify-content: center;
    gap: 16px;
    
}

.num{
    font-size:56px ;
    color: #ffffff;
    font-weight: 700;
    position: absolute;
    right: 20px;
    top:20px;
}
.card{
    width: 300px;
    padding-bottom: 32px;
    padding-top: 120px;
    border-radius: 20px;
    padding-inline: 20px;
    position: relative;
   

}



.card-01{
    background-color:#ECF2E8;
}


.card-02{
    background-color:#FFE8DA;
}

.card-03{
    background-color:#DCE1FE;
}


.core-services{
    background-color: var(--netural-200);
}

.intro{ 
    background-color: var(--netural-400);
    display: inline-block;
    padding-block: 12px;
    padding-inline: 20px;
    border-radius: 40px;
    margin-bottom: 16px;

}
    


.serv-card-list{
    
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
   
    
}

.serv-card{
    
    
    width: 330px;
    margin-inline: 16px;
    text-align: center;
    margin-bottom: 64px;
    
    
}


.serv-card-img{
    background-image: url(image/sky.png);
    width: 330px;
    margin-inline: 16px;
    text-align: center;
    background-repeat: no-repeat;
padding-top: 32px;
    border-radius: 30px;
    

}

.serv-card-img a{
    background-color: var(--netural-800);
    padding-block: 16px;
    padding-inline: 24px;
    text-decoration: none;
    color: var(--netural-0);
    border-radius: 30px;

}

.device-combine-item{
    gap: 160px;
    align-items: center;

   
    
}

.device-combine-img ul{
    gap: 30px;
    padding-inline: 20px;
}

.fit-bar{
    padding-bottom: 80px;
    
}


.fit-bar a{
    
    padding-block: 24px;
    padding-inline: 36px;
    text-decoration: none;
    background-color: var(--netural-0);
    border: 2px solid var(--netural-200);
    color: var(--netural-500);
    border-radius: 10px;
}

.fit-people-section{
    background-color: var(--netural-200);
    padding-bottom: 64px;
}